.menu {
  background-color: $color-red;
  overflow: auto;

  &__content {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 0 0 40px;

    @include on-tablet {
      padding-bottom: 50px;
    }
  }

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 24px 0;
    margin-bottom: 16px;
    background-color: $color-red;

    @include on-tablet {
      padding: 50px 0 24px;
    }
  }

  &__close {
    width: 16px;
    height: 16px;

    @include cover-bg;

    background-image: url('../images/cross.svg');

    @include on-tablet {
      width: 24px;
      height: 24px;
    }
  }

  &__list {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
  }

  &__item {
    margin-bottom: 24px;
  }

  &__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: border-color $transition;

    &:hover {
      border-color: #fff;
    }
  }

  &__call {
    width: max-content;
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    transition: color $transition;

    &:hover {
      color: #ffe566;
    }
  }

  &__order {
    display: inline-block;
    margin-top: 8px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: border-color $transition;

    &:hover {
      border-color: #fff;
    }
  }
}
